/*universel*/

.html,body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.flex-start{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.color-white{
    color: white;
}

.no-decoration{
    text-decoration: none;
    color: black;
}

.dark-grey{
   background-color: #eaeaea;
}

.flex-center2{
    display: flex;
    justify-content: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*header*/

.shadow{
    box-shadow: 0 0 .5rem rgba(0,0,0,.25);
}

/*location*/

.icon-padding{
    padding-top: 19px;
    padding-right: 5px;
}

.location-text{
    font-weight: bold;
}

/*up*/

.up-padding{
    padding:0% 10% 0% 10%;
}

.main-button{
border: 0;
padding: .75rem 1.5rem;
font-weight: 500;
font-size: 1.1rem;
border-radius: 100px;
color: #fff;
background-color: #686868;
background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
cursor: pointer;
transition-duration: .25s;
box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
margin: 10px 0px 20px 0px;
}

.main-button:hover{
background-color: #fff;
box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
}

.align-text-center{
    text-align: center;
}

/*fonctionement*/

.list-number-style{
    border-radius: 50%;
border: solid 1px #9356dc;
padding: 5px;
margin-right: -20px;
height: 20px;
width: 20px;
background-color: #9356dc;
text-align: center;
z-index: 1;
cursor: pointer;

}

.list-style{
    border: solid 0,5px #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 20px 100px;
    margin: 10px;
    font-weight: bold;
   
}

.list-style:hover{
   background-color: #fff;
   box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
   background-color: #f5edff;
   cursor: pointer;
   transition-duration: .25s;
   color: black;
}

.list-style:hover i{
    color:#9356dc ;
}

.margin1{
    margin-right: 30px ;

}

.margin2{
    margin-right: 36px;
}

.margin3{
    margin-right: 27px;
}

.img-hover:hover{
    color:#9356dc ;
}

/*main*/

.main{
    background-color:#f6f6f6 ;
}

.restaurant-card{
    width: 85%;
    margin-top: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 15px;
}


.restaurant-card:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-index{
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 15px;
}

.card-heart{
    margin-right: 30px;
   
}

.restaurant-card i:hover{
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: border-box;
    color: #fff;
    font-weight: 600;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restaurant-card-new{
    background-color: #99e2d0;
    border-radius: 5px;
    color: #1f997c;
    padding: .5em;
    position: absolute;
    z-index: 2;
}


/*footer*/

.footer{
    background-color: #353535;
    padding-bottom: 10px;
}

.footer-margin{
    margin: 20px;
}

/*menu-style*/

/*header-menu*/

.margin-arrow-menu{
    margin-left: 20px;
    margin-right: 50px;
}

/*image-menu*/

.img-menu{
    width: 100%;
    height: 250px;
    object-fit: cover;
 
}

/*menu-main*/

.main-margin{
    border-top: 0.1px solid black;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -50px;
    padding: 40px 0px 0px 20px;
    background-color: white;
}

.list-style-menu{
    background-color: #F2F2F2;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 10px;
    padding:5px 20px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.list-style-menu:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.main-margin i:hover{
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: border-box;
    color: #fff;
    font-weight: 600;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*loader*/

.loader-content {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #9356dc; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.7s ease-in-out infinite;
    
  }

  .loader{
      background-color: lightgray;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 2;
      opacity: 70%;
      animation: disapear 0.3s 1S linear forwards;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  @keyframes disapear{
      0%{
          transform: scale(1);
      }
      100%{
          transform: scale(0);
      }
      
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


